In [1]:
pwd

'C:\\Users\\aluno\\visao_am'

In [2]:
print('TESTE')

TESTE

In [3]:
123 * 123123

15144129

In [4]:
a = 'Visao Computacional'

In [5]:
print(a)

Visao Computacional

In [13]:
a1 = 5

In [14]:
x = 100
y = 300
z = 432

In [15]:
k = x * y / z

In [16]:
b = 5.

In [17]:
v = "aprendizado de maquina"

In [29]:
lst_x = ['Manaus','Sao Paulo', 'Rio de Janeio']

In [21]:
lst1

['Manaus', 'Sao Paulo', 'Rio de Janeio']

In [22]:
lst1[0]

'Manaus'

In [23]:
tpl1 = ('Manaus','Sao Paulo', 'Rio de Janeio')

In [24]:
tpl1

('Manaus', 'Sao Paulo', 'Rio de Janeio')

In [30]:
lst_x.append('Manacapuru')

In [31]:
lst_x.insert(1, 'Itacoatiara')

In [32]:
e1 = input('Entre com valor numérico')

Entre com valor numérico 123

In [33]:
e1

'123'

In [35]:
type(e1)

str

In [36]:
texto = input('Entre com a sua cidade: ')

Entre com a sua cidade:  Belem

In [37]:
texto

'Belem'

In [39]:
lst_x.insert(1, texto)

In [40]:
lst_x

['Manaus', 'Belem', 'Itacoatiara', 'Sao Paulo', 'Rio de Janeio', 'Manacapuru']

In [56]:
path = 'C:/Users/aluno/downloads/datasets/'

In [57]:
import pandas as pd

In [58]:
path

'C:/Users/aluno/downloads/datasets/'

In [59]:
df_1 = pd.read_csv(path + 'london.csv')

In [60]:
df_1.describe

<bound method NDFrame.describe of        Total       Sport  Age  Height  Weight Sex
0          0        Judo   23   170.0    60.0   M
1          0   Athletics   33   193.0   125.0   M
2          0   Athletics   30   187.0    76.0   M
3          0      Boxing   24     NaN     NaN   M
4          0   Athletics   26   178.0    85.0   F
...      ...         ...  ...     ...     ...  ..
10379      0   Athletics   24   171.0    87.0   F
10380      0   Athletics   28   172.0    56.0   F
10381      0    Handball   27   180.0    87.0   M
10382      0   Athletics   25   173.0    62.0   F
10383      0  Basketball   24   221.0   110.0   M

[10384 rows x 6 columns]>

In [61]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10384 entries, 0 to 10383
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Total   10384 non-null  int64
 1   Sport   10384 non-null  object
 2   Age     10384 non-null  int64
 3   Height  9823 non-null   float64
 4   Weight  9104 non-null   float64
 5   Sex     10384 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 486.9+ KB

In [62]:
df_1.head()

   Total      Sport  Age  Height  Weight Sex
0      0       Judo   23   170.0    60.0   M
1      0  Athletics   33   193.0   125.0   M
2      0  Athletics   30   187.0    76.0   M
3      0     Boxing   24     NaN     NaN   M
4      0  Athletics   26   178.0    85.0   F

In [63]:
df_1.tail

<bound method NDFrame.tail of        Total       Sport  Age  Height  Weight Sex
0          0        Judo   23   170.0    60.0   M
1          0   Athletics   33   193.0   125.0   M
2          0   Athletics   30   187.0    76.0   M
3          0      Boxing   24     NaN     NaN   M
4          0   Athletics   26   178.0    85.0   F
...      ...         ...  ...     ...     ...  ..
10379      0   Athletics   24   171.0    87.0   F
10380      0   Athletics   28   172.0    56.0   F
10381      0    Handball   27   180.0    87.0   M
10382      0   Athletics   25   173.0    62.0   F
10383      0  Basketball   24   221.0   110.0   M

[10384 rows x 6 columns]>

In [67]:
df_1[['Sport', 'Age', 'Sex']]

            Sport  Age Sex
0            Judo   23   M
1       Athletics   33   M
2       Athletics   30   M
3          Boxing   24   M
4       Athletics   26   F
...           ...  ...  ..
10379   Athletics   24   F
10380   Athletics   28   F
10381    Handball   27   M
10382   Athletics   25   F
10383  Basketball   24   M

[10384 rows x 3 columns]